
*{
    margin: 0px;
    padding: 0px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1440px;
    margin: auto;
}

.logo{
    font-family: 'Acme', sans-serif;
    font-size: 35px;
    margin-left: 40px;
}

input[type="search"]{
    width: 40%;
    padding: 15px 10px;
    background-color: rgb(240, 240, 240);
    border-radius: 5px;
    margin: 20px 10px 10px 10px;
    font-size: 15px;
    border: 1px solid rgb(204, 204, 204);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.right_nav{
    margin-right: 50px;
}
.right_nav img{
    width: 20px;
    padding: 10px 12px;
    border-radius: 30px;
}
.right_nav img:hover{
    cursor: pointer;
}
.heart_img:hover{
    filter: invert(43%) sepia(94%) saturate(3447%) hue-rotate(339deg) brightness(110%) contrast(101%);
}

.main_bg{
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
    margin-top: 10px;
}

/* ------------ PRODUCT CONTAINER------------ */

.container{
    max-width: 1440px;
    display: flex;
    align-items: center;
    justify-self: center;
    margin: auto;
    margin-top: 20px;
}
#box1{
    width: 25%;
    height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#box2{
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
}
#box1 button{
    display: block;
    font-size: 22px;
    padding: 25px 20px;
    border: none;
    width: 220px;
    margin: 10px;
    border-radius: 10px;
    text-align: left;
    background-color:rgb(236, 236, 236);
    /* font-family: 'Gagalin', sans-serif; */
    font-family: "Gagalin-Regular",sans-serif;
    letter-spacing: 2px;
}
.box1_button_img{
    width: 22px;
    padding: 3px;
    float: right;
}
.girl{
    width: 63px;
    margin: -25px;
    padding: 0px;
    float: right;
    margin-right: -10px;
}
.girl_wedding2{
    width: 52px;
    margin: -25px;
    padding: 0px;
    float: right;
    margin-right: -10px;
}
.girl_wedding1{
    width: 43.5px;
    margin: -25px;
    padding: 0px;
    float: right;
    margin-right: -10px;
}

/* ------------------ALL BUTTONS CODE IN BOX 2 --------------------*/

.cloth_type{
    font-size: 40px;
    padding: 10px 10px 5px 10px;
    font-family: 'Viga', sans-serif;
}
.view_more{
    color: black;
    padding: 0px 10px;
    text-decoration: none;
    font-family: 'Viga', sans-serif;
}
.more_buttons img{
    width: 20px;
    float: left;
    margin: -3px;
}
.more_buttons button{
    width: 155px;
    padding: 10px 25px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    margin: 5px;
    margin-top: 20px;
    border-radius: 5px;
    background-color:rgb(236, 236, 236);
}

#box1:hover button,.box1_button_img,.more_buttons img,.more_buttons button{
    transition: 0.2s ease-in;
}
/* ----------------ALL BUTTONS HOVER CODE------------------- */

button:hover,#box1 button:hover{
    cursor: pointer;
    background-color: rgb(233, 85, 233);
    color: white;
    /* box-shadow: 0px 0px 10px rgb(194, 194, 194); */
}
button:hover .box1_button_img{
    filter: invert();
}
button:hover .sort{
    filter: invert();
}

/* -----------------PRODUCT CONTAINER----------------- */
.product_container{
    max-width: 1440px;
    margin: auto;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.product{
    width: 200px;
    margin: 0px 25px 25px 25px;
}
.product img{
    width: 220px;
    height: 300px;
    margin: auto;
}
.about_product{
    color: rgb(78, 78, 78);
    font-weight: 100;
    font-size: 17px;
    padding: 5px 0px 5px 0px;
    text-align: left;
    font-family: 'Roboto Condensed', sans-serif;
}
.product_price{
    font-family: lovelo;
    font-size: 21px;
    display: inline;
    margin: 10px 0px 10px 0px;
}
.product_price span{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 15px;
    padding: 0px 5px 0px 5px;
    color: rgb(189, 189, 189);
    text-decoration: line-through;
}
.product_discount{
    color: #00a81c;
    font-size: 18px;
    display: inline;
    font-weight: 300;
    font-family: 'Roboto Condensed', sans-serif;
}

/*------------------ ADVERTISING BACKGROUND ------------------*/
.advertising1_bg{
    width: 100%;
    padding: 0px;
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
/* -----------------PRODUCT CONTAINER SAREE -----------------*/

.product_container_saree{
    max-width: 1440px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.product_saree{
    /* width: 180px; */
    width: 220px;
    height: 450px;
    margin: 10px 20px;
    border-radius: 10px;
}
.saree{
    width: 220px;
    height: 300px;
    margin: auto;
    border-radius: 10px;
}
.button_cart{
    width: 220px;
    font-size: 17px;
    padding: 7px 10px;
    margin-top: 10px;
    margin-bottom: 50px;
    color: #5b26f5;
    border: 1px solid #5b26f5;
    background-color: white;
    border-radius: 10px;
    font-family: 'Roboto Condensed', sans-serif;
    transition: 0.2s linear;
}
.button_cart:hover{
    background-color: #5b26f5;
    color: white;
}

/* ---------------FACE PRODUCT-------------- */

.face_product_container{
    max-width: 1440px;
    margin:0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
 .face_product{
    width: 220px;
    height: 320px;
    margin: 10px 20px;
    /* margin: 25px 15px 15px 15px; */
    border: 1px solid rgb(175, 175, 175);
    box-shadow: 0px 5px 10px rgb(224, 224, 224);
    transition: 0.2s linear;
}
.product_image{
    width: 100%;
    height: 200px;
    margin: auto;
    z-index: 5;
    transition: 0.2s linear;
}
.face_product a{
    text-decoration: none;
    color: black;
}
.face_product h2{
    margin-left: 15px;
}
.face_product:hover{
    margin-top: 0px;
    box-shadow: 0px 25px 25px rgb(223, 223, 223);
}
.product_image:hover{
    transform: scale(85%);
}
#like{
    width: 20px;
    float: right;
    z-index: 21;
    margin-right: 20px;
    padding-top: 10px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    filter: invert(55%) sepia(13%) saturate(15%) hue-rotate(323deg) brightness(160%) contrast(90%);
}

/* --------------FOOTER------------ */

.footer{
    max-width: 1440px;
    margin: auto;
    margin-top: 60px;
    background-color: #172337;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    font-family: 'Roboto Condensed', sans-serif;
}

/* Cloumns */

.section{
    width: 120px;
    height: 230px;
    margin: 10px auto;
    margin-bottom: 100px;
}
#office{
    width: 170px;
}

/*  Footer - SECTIONS HEADING*/

.section_heading{
    display: block;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 600;
    margin-left: 0px;
    margin-top: 15px;
    font-weight: 300;
}

/* All H2 and Anchor tags in footer */

.footer ul{
    list-style: none;
}
.footer li{
    padding: 2px 0px;
    margin-top: 5px;
    font-weight: bold;
}
.footer li a{
    font-size: 13px;
    color: rgb(255, 255, 255);
    font-weight: 100;
    margin-top: 5px;
    text-decoration: none;
} 
.footer a:hover{
    text-decoration:underline;
}

.copyright{
    max-width: 1440px;
    margin: auto;
    background-color: #172337;
    display: block;
    text-align: center;
    font-size: 17px;
    color: white;
    padding: 0px 0px 20px 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* --------scroll bar ---------*/

body::-webkit-scrollbar {
    width: 1px;
  }
   
body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
   
body::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255);
    outline: 1px solid rgb(255, 255, 255);
}

@media  screen and (max-width: 1440px){
    .contianer{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }
}

/* @media  screen and (max-width: 1320px){
    .product_saree{
        margin: 2px 20px;
        height: 400px;
    }
} */

@media screen and (max-width: 1020px){
    .footer{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        overflow: hidden;
    }
    .section{
        margin-left: 20px;
    }
    .section_heading{
        margin-left: 15px;
    }
    .face_product:hover{
        margin: 10px 20px;
    }
    .product_image:hover{
        transform: scale(none);
    }
 }

 @media screen and (max-width: 1345px) {
    .container{
        flex-direction: column;
        width: 100%;
    }
    #box1 button{
        width: 220px;
        margin: 10px;
        display: flex;
        justify-content: space-between;
    }
    #box2{
        width: 100%;
    
    }
    #box1{
        width: 100%;
        flex-direction: row;
        height: auto;
        flex-wrap: wrap;
        margin: auto;
        justify-content: space-evenly;
    }
    .cloth_type{
        margin-left: 5%;
    }
    .view_more{
        margin-left: 5%;
    }
    .more_buttons{
        display: flex;
        margin: auto;
        flex-wrap: wrap;
        justify-content: space-around;
    }
 }

 @media screen and (max-width: 786px){
    .right_nav img{
        width: 0px;
        padding: 0px;
        margin: 0px;
    }
 }

@media screen and (min-width: 786px) {
    #menu{
        width: 0px;
        padding: 0px 2px;
        border-radius: 0px;
        margin: 0px;
        }
}

 @media screen and (max-width: 786px){
    #menu{
    width: 20px;
    padding: 10px 12px;
    border-radius: 30px;
    }
 }